{% extends 'base.html.twig' %}


{% block body %}
    <div>
        <div class="flex justify-around pt-6 text-white">
            <a href="{{path('app_homepageAdmin')}}">
                 <img class='w-8 h-8' src="https://www.logoarena.com/contestimages/public_new/3783/1670_1384351020_thefinestwatches3.png" alt="">
            </a>

            <div class="flex">
                <div class="HeaderAdmin_text">
                    <a class="text-xl bouton_coHeader px-4 py-2" href="{{path('app_homepageUser')}}">Customer Homepage</a>
                </div>

                <div class="ml-12">
                    <a class="text-xl bouton_coHeader flex" href="{{path('app_logout')}}">
                        <h1>Logout</h1>
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2 ">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class=" flex justify-center my-6 pb-4">
            <div class="w-4/5 text-center bar"></div>
        </div>
    </div>
{% endblock %}


